h1 {
    text-align: center;
    color: lightblue;
}
input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -10000;
    top: -10000;
}

input[type="checkbox"].toggle+label {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle+label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: hsl(0, 80%, 90%);
    border-radius: 1em;
    margin-right: .25em;
    transition: 200ms ease-in-out;
}

input[type="checkbox"].toggle+label::after {
    position: absolute;
    content: "";
    left: .1em;
    width: .8em;
    height: .8em;
    background-color: red;
    border-radius: 1em;
    margin-right: .25em;
    transition: 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked+label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: hsl(100, 80%, 90%);
    border-radius: 1em;
    margin-right: .25em;
}

input[type="checkbox"].toggle:checked+label::after {
    position: absolute;
    content: "";
    transform: translateX(120%);
    width: .8em;
    height: .8em;
    background-color: hsl(100, 80%, 60%);
    border-radius: 1em;
    margin-right: .25em;
}

input[type="checkbox"].toggle:disabled+label {
    color: #777;
}

input[type="checkbox"].toggle:disabled+label::before {
    background-color: #CCC;
}

input[type="checkbox"].toggle:disabled+label::after {
    background-color: #777;
}
#checks table,
#checks td {
    border: 2px solid white;
}

.checkAnswer {
    padding: 1em 2em;
}
.axis {
    text-align: center;
    font-size: larger;
}
.pass {
	background-color: #60cc60;
	color: black
}
.fail {
	background-color: red;
}
.pass b {
	background-color: #60cc60;
	color: black
}
.fail b {
	background-color: red;
}
.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #34d968;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}