.electrical-property {
	display: flex;
	height: 150px;
}
.electrical-left {
	padding-left: 2%;
	width: 800px;
	align-items: center;
}
.electrical-optionbox {
    font-family: "Times New Roman", Times, serif;
	background-color: #666;
    color: black;
	padding: 0;
	margin: 0;
    text-align: center;
	height: 46px;
}
#electrical-table {
	border-collapse: collapse;
}
#electrical-table td {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	border: 1px black solid;
}
.electrical-input {
    font-family: "Times New Roman", Times, serif;
	background-color: #666;
	width: 200px;
	height: 40px;
	font-size: 1em;
	color: black;
}
.electrical-button {
    font-family: "Times New Roman", Times, serif;
    background-color: #666;
    color: black;
	margin-top: 20px;
}
.tab-item {
	background-color: red;
	display: block;
	text-align: left;
	outline: 1;
	width: auto;
	float: left;
	padding: 8px 16px;
	border: 1px solid black;
	cursor: pointer;
}
#tab-switching {
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
.active {
	background-color: green;
}
input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -10000;
    top: -10000;
}

input[type="checkbox"].toggle+label {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle+label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: hsl(0, 80%, 90%);
    border-radius: 1em;
    margin-right: .25em;
    transition: 200ms ease-in-out;
}

input[type="checkbox"].toggle+label::after {
    position: absolute;
    content: "";
    left: .1em;
    width: .8em;
    height: .8em;
    background-color: red;
    border-radius: 1em;
    margin-right: .25em;
    transition: 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked+label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: hsl(100, 80%, 90%);
    border-radius: 1em;
    margin-right: .25em;
}

input[type="checkbox"].toggle:checked+label::after {
    position: absolute;
    content: "";
    transform: translateX(120%);
    width: .8em;
    height: .8em;
    background-color: hsl(100, 80%, 60%);
    border-radius: 1em;
    margin-right: .25em;
}

input[type="checkbox"].toggle:disabled+label {
    color: #777;
}

input[type="checkbox"].toggle:disabled+label::before {
    background-color: #CCC;
}

input[type="checkbox"].toggle:disabled+label::after {
    background-color: #777;
}