.column {
	float: left;
	text-align: center;
	font-size: 2vw
}
.left {
	width: 40%;
	text-align: left;
	padding-left: 5%;
	padding-bottom: 3%;
	font-size: 2vw;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
}
.right {
	width: 55%;
	font-size: 2vw;
}
.row {
	border: 2px black solid;
	text-align: center;
	flex-direction: row;
}
#title {
	text-align: center;
	font-size: 3vw;
	padding-bottom: 2%;
	padding-top: 2%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.floatleft {
	content: var(--progress-content, "");
	padding-top: 5px
}
.floatright {
	padding-top: 5px;
	float: right;
}
.progress-bar {
	content: var(--song-total-time, "");
	font-size: 1.5vw;
	background-color: red;
	height: var(--progress-height, 3px);
	position: relative;
	transform: translateY(-10px);
	float: right;
	width: 100%;
	text-align: right;
}
.link *{
	font-size: 2vw;
	color: rgb(9, 201, 226);
}
.progress-bar::after {
	content: var(--progress-content, "");
	font-size: 1.5vw;
	color: var(--text-color, white);
	position: absolute;
	text-align: var(--text-align, left);
	left: 0;
	top: 0;
	transition: ease-in 200ms;
	height: var(--progress-height, 6px);
	right: calc(100% - var(--progress-percent) * 100%);
	background-color: var(--progress-color);
}
#song-name-1 {
	font-size: 3vw;
	padding-top: 1%;
	padding-bottom: 1%;
}
#currently-playing {
	display:table;
	background-color: rgba(150, 150, 150, 0.1);
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	width: 80%;
	text-align: center;
	margin: auto;
}