.column {
	float: left;
	text-align: center;
	font-size: 2vw
}
.left {
	width: 35%;
	text-align: left;
	padding-left: 5%;
	padding-bottom: 3%;
	font-size: 3.5vmin;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
}
.right {
	width: 60%;
	font-size: 3.5vmin;
}
.info-item {
	border: 1px solid black;
	padding-top: 3px;
	padding-bottom: 3px;
}
#title {
	text-align: center;
	font-size: 5vmin;
	padding-bottom: 2%;
	padding-top: 2%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.time {
	display: grid;
	grid-template-columns: auto auto auto;
	width: 100%;
	font-size: 5vmin;
	z-index: 1;
}
.floatleft {
	text-align: left;
}
.floatright {
	text-align: right;
}
.complete-song {
	color: black;
}
.progress-bar {
	content: "";
	font-size: 1.5vw;
	background-color: red;
	height: 1vh;
	position: relative;
	top: 0px;
	float: right;
	width: 100%;
	text-align: right;
	z-index: -1;
}
.link *{
	font-size: 3vmin;
	color: rgb(9, 201, 226);
}
.progress-bar::after {
	content: "";
	text-align: center;
	position: absolute;
	text-align: center;
	left: 0;
	top: 0;
	height: 100%;
	right: calc(100% - var(--progress-percent) * 100%);
	background-color: aqua;
}
.progress-bar.complete-song{
	animation-name: completesong;
	animation-duration: 500ms;
	animation-timing-function: linear;
	animation-fill-mode:forwards;
}
.progress-bar.end-song {
	animation: none
}
@keyframes completesong {
	from {
		background-color: aqua;
		color: black
	}
	to {
		transform-origin: top;
		transform: scaleY(8);
		color: black;
		background-color: rgb(27, 238, 27);
	}
}
#info-box {
	display: grid;
	grid-template-columns: auto auto;
	padding-top: 3%;
}
#song-name-1 {
	font-size: 7vmin;
	padding-bottom: 1%;
}
#currently-playing {
	display:table;
	background-color: rgba(150, 150, 150, 0.1);
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	width: 80%;
	text-align: center;
	margin: auto;
}
.alert-info {
	opacity: 0;
	margin: auto;
	width: 0%;
	height: 0vh;
  	padding: 20px;
  	background-color: #2196F3; 
 	color: white;
  	margin-bottom: 15px;
	transition: width 1.5s, height 1.5s, opacity 1s
}
.alert-info-active {
	opacity: 1;
	margin: auto;
  	padding: 20px;
  	background-color: #2196F3; 
 	color: white;
  	margin-bottom: 15px;
	width: 80%;
	height: 2vh;
	opacity: 1;
	transition: width 1s, height 1s, opacity 2s
}
.queue-column-left {
	width: 10%;
	text-align: left;
	padding-left: 4%;
}
@media screen and (max-width: 1000px) {
	.queue-column-right {
		width: 60%;
		float: right;
		font-size: 3vmin;
		padding-right: 4px
	}
}
@media screen and (min-width: 1000px) {
	.queue-column-right {
		width: 85%;
		float: right;
		font-size: 3vmin;
	}
}
.queue-thumbnail {
	padding-top: 5%;
	width: auto;
	max-width: fit-content;
	height: 12vmin;
}
.queue-song {
	font-size: 2vmin;
	width: 80%;
	border: solid black 1px;
	height: 15vmin;
	margin: auto;
	margin-bottom: 20px;
	background-color: rgba(150, 150, 150, 0.1);
	border-radius: 25px;
}
.queue-thumbnail-parent {
	height: 100%
}
.queue-title {
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.index {
	position: absolute;
	padding-left: 1%;
	font-size: 2vw;
}