.youtubeDownloader {
	color: white;
	font-size: 20px;
	display: grid;
	place-items: center;
	margin-top: 200px;
}

.youtubeDownloader button {

	color:green;
	font-size: 20px;
	background-color: lightgreen;
	border-radius: 50%;
}
.youtubeDownloader input {
	color:black;
	padding: 10px;
	font-size: 20px;
	width: 80%;
}
 