:root {
	--header-background-color: #222;
}

.topheader * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #333;
}

.topheader li, a, .topNavButton {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: white;
	text-decoration: none;
	
}

.topheader img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.topheader h2, .topheader ul, .topheader li, .login {
	color: white;
	background-color: var(--header-background-color);
}

.topheader a:visited {
	text-decoration: none;
}

.topheader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 5%;
	background-color: var(--header-background-color);
}

.topheader ul {
	list-style: none;
}

.topheader li {
	display: inline-block;
	padding: 0px 30px;
	color: white;

}

.topheader li a {
	transition: all 0.3 ease 0s;
	border: 2px solid #222;
	padding: 5px 20px;
	border-radius: 50px;
}

 .topheader li a:hover {
	color: grey;
	background-color: #444;
}

 .topNavButton {
	 padding: 9px 25px;
	 background-color: rgba(0, 136,169,1);
	 border: none;
	 border-radius: 50px;
	 cursor: pointer;
	 transition: all 0.3 ease 0s;
 }

 .topNavButton:hover {
	 background-color: green;
 }
 @media screen and (max-width: 1030px) {

	 nav li:not(:first-child) {
		 display:none
	 }
	 nav li:is(:first-child) {
		 display:block
	 }
	 .login {
		 display:none
	 }
	.responsive.hidden {
		display: none;
	}
	.responsive.shown {
		position: relative;
	}
 }
 @media screen and (min-width: 1030px) {
	 nav li:is(:first-child) {
		 display: none
	 }
	.responsive.hidden {
		display: none;
	}
	.responsive.shown {
		display:none
	}
 }