* {
    color: white
}
button {
    background-color: blue;
}
.projectBlock h3 {
    font-size: 30px;
    border: 1px solid black;
    margin: 20px 0px;
    padding: 20px 0px
}
.projectBlock h3:hover {
    animation: shadow 400ms ease-in-out 0ms 1;
    animation-fill-mode: both;
}
@keyframes shadow {
    from {
        background-color: #333;
    }
    to {
        background-color: #555;
    }
}
